@charset "utf-8";
#cabeza {
    font-family: tahoma, Geneva, Sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    color: #FFF;
    padding: 20px;
    clear: both;
    background-color: black;
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    color: white;
}

#cuerpo {
    font-family: tahoma, Geneva, Sans-serif;
    margin: 0px;
    padding: 10px;
    clear: both;
}

#pie {
    font-family: tahoma, Geneva, Sans-serif;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    color: #FFF;
    padding: 20px;
    clear: both;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}

body {
    margin: 0px;
    padding-top: 50px;
}